body {
   font-family: Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#resultado {
    font-weight: bold;
    color: #4CAF50;
}